.productsNavigation {
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.productsNavigationItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  font-size: 14px;
  cursor: pointer;
  padding: 0px 10px;
  position: relative;
}
.productsNavigationItem:hover {
  background-color: #f6f5f5;
}
.productsNavigationItem:hover .productsNavigationSubItem {
  display: block;
}
.productsNavigationSubItem {
  background-color: #f6f5f5;
  position: absolute;
  top: 80%;
  min-width: 100px;
  display: none;
}
.productsNavigationSubItem div {
  padding: 5px 10px;
}
.productsNavigationSubItem :hover {
  background-color: #ffffff;
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 420px) {
}
