.pathContainer {
  margin: 5px 10px;
}
.pathContainer p {
  color: teal;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 2px;
}
.totalContainer {
  background-color: #fff;
  width: 220px;
  opacity: 80%;
  position: relative;
  height: 85px;
  padding: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}
.totalValue,
.cardName {
  text-align: end;
  padding-right: 10px;
}
.cardIcon {
  position: absolute;
  top: -10px;
  background-color: #2224de;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 10px;
}

.totalValue span {
  color: rgb(0, 255, 0);
  font-size: 20px;
  margin-right: 30px;
  font-weight: bold;
}
.cardName {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.moreBtn {
  text-align: end;
  padding: 5px 2px;
  cursor: pointer;
  color: rgb(0, 255, 0);
  font-size: 14px;
}
