.homeContainer {
  min-height: 500px;
}
.carousel {
  background-color: rgb(230, 230, 230);
  height: 300px;
}
.productsView {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 420px) {
}
