.cardsContainer {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  width: 80%;
  /* height: 0px; */
}
.col2Wrapper {
  width: 80%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.col2Wrapper h2 {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}
.col2Wrapper h3 {
  font-size: 18px;
}
.highestSales {
  /* width: 50%; */
}
.lowItems {
  /* width: 50%; */
}
.itemCardHeading {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
  margin-bottom: 5px;
}
