.navbarContainer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: var(--mainBgPurple);
}
.logo {
  margin-right: auto;
  font-size: 19px;
  color: rgb(35, 233, 8);
  margin-left: 30px;
}
.navbar a {
  color: var(--mainBgPurple);
}
.navbar a:hover {
  color: var(--secBgPurple);
}
.navbar .cartBtn {
  margin: 0px 15px;
}
.navbar .cartBtn span {
  font-size: 1.2rem;
}
.navbar .loginBtn {
  background-color: #fff;
  margin: 0px 5px 0px 0px;
  padding: 1.8px 10px;
  transition: 0.2s ease;
  color: teal;
  width: 8rem;
  font-size: 1.6rem;
}
.navbar .loginBtn:hover {
  background-color: #fff;
  color: rgb(8, 100, 100);
}
.navbar .loginBtn:active {
  background-color: rgb(209, 209, 209);
  color: teal;
}
.navbar .modalLink a,
.navbar .modalLink {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.6rem;
  margin: 2px 0px 5px 0px;
}
.navbar .modalLink a:hover,
.navbar .modalLink:hover {
  background-color: var(--secBgPurple);
}
.navbar .modalBtn span {
  cursor: pointer;
}
.navbar .modalBtnContent {
  position: absolute;
  right: 0px;
  width: 200px;
  min-height: 200px;
  background-color: var(--mainBgPurple);
  z-index: 1;
  padding-top: 20px;
  text-align: center;
  border: none;
  display: block;
  transition: 1s linear;
}

.searchFilterContainer {
  /* border-bottom: 0.3rem solid rgba(0, 0, 0, 0.2); */
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchContainer {
  padding: 5px;
}

.searchInputContainer {
  display: flex;
  align-items: center;
}

.searchInputContainer input {
  width: 35rem;
}

.searchInputContainer button {
  /* background-color: transparent; */
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 450px) {
  .logo {
    font-size: 1.4rem;
  }
  .searchInputContainer input {
    max-width: 30rem;
  }
}
